/*
 *
 * Responsive: max-width - 1024px
 *
*/ 

@media (max-width: 1024px) {
    // Device list
    .device-itm{
        width: 50%;
    }

    // Room detail
    .room-detail{
        width: 60%;
    }

    // Room list
    .room-list{
        width: 40%;
    }
}