/*
 *
 * Custom css
 *
*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4CD964;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4CD964;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}



  // Range slider
.ui-widget-content{
    background-color: #ddd;
}
.ui-widget-header{
    background-color: #42A5F5;
}
.ui-widget.ui-widget-content{
    border: none;
}
.ui-slider-horizontal{
    height: 4px;
    .ui-slider-handle{
        top: 50%;
        .transform(translateY(-50%));
    }
}
.ui-slider{
    .ui-slider-handle{
        border-radius: 100%;
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        border: none;
        background-color: #42A5F5;
        outline: none;
        color: #fff;
        text-align: center;
    }
}


// Button
.btn{
    border-radius: 2px;
    .box-shadow(none);
    .transition(all 0.4s ease);
    &:hover, &:focus{
        .box-shadow(none);
    }
}
// Modal
.modal-content{
    border-radius: 2px;
}
.modal-dialog{
    width: 800px;
}

.modal-title{
    font-weight: 700;
}