block vars
  -title="Smart Home"
extends layouts/layout
block main
    .main-content
        .dashboard-content
            .container-fluid
                .row
                    .col-md-3.room-list
                        include blocks/dashboard/room-list.jade
                    .col-md-9.room-detail
                        include blocks/dashboard/room-detail.jade