/*
 *
 * Device list
 *
*/ 

.device-content{
    border: 1px solid #bbb;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    .transition(all 0.4s ease);
    .device-inf{
        background-color: #F6F6F6;
        padding: 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .device-img{
        width: 80px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
    }

    .curr-state{
        font-weight: 700;
        font-size: 16px;
    }
    .device-name{
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .switch-device{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .device-controls{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        min-height: 80px;  
        padding: 0 15px;
        position: relative;
        .control-range{
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translate(-50%, -50%));
            width: 90%;
            // height: 8px;
        }
        &.no-control{
            background-color: #F6F6F6;
        }
    }
    &:hover{
        .box-shadow(1px 1px 3px 0px rgba(187,187,187,1));
    }
}

.new-device{
    height: 258px;
    text-align: center;
    background-color: #F6F6F6;
    border-style: dashed;
    border-width: 2px;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        font-weight: 700;
        font-size: 18px;
        span{
            display: block;
            margin-bottom: 10px;
        }
    }    
    &:hover{
        .box-shadow(none);
    }
}

.device-itm{
    margin-bottom: 30px;
}