/*
 *
 * Room detail
 *
*/ 
.room-detail{
    position: relative;
    height: 100%;
}
.room-detail-content{
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
}

.r-dt-head{
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
    h3{
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
    .room-ico{
        margin-bottom: 30px;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: center;
        background-color: #fff;
        // position: absolute;
        // top: 30px;
        // left: 30px;
        // z-index: 50;
        &.living-room{
            background-image: url('../images/room/livingroom-w.png');
            background-color: #8265C4;
        }
        &.bed-room{
            background-image: url('../images/room/bedroom-w.png');
            background-color: #D80027;
        }
        &.bath-room{
            background-image: url('../images/room/bathroom-w.png');
            background-color: #006DF0;
        }
        &.kitchen-room{
            background-image: url('../images/room/kitchen-w.png');
            background-color: #91DC5A;
        }
    }
}

.room-date{
    span{
        display: block;
        font-size: 22px;
    }
    margin-bottom: 30px;
}

.room-tmp{
    height: 60px;
    position: relative;
    .inf-val{
        // line-height: 80px;
        position: absolute;
        right: 100px;
        top: 50%;
        .transform(translateY(-50%));
        font-size: 36px;
        font-weight: 600;
        sup{
            font-size: 12px;
            top: -1.6em;
        }
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 75px;
        top: 50%;
        .transform(translateY(-50%));
        width: 2px;
        height: 30px;
        background-color: #6C6A6C; 
    }
    .weather-ico{
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        background-size: 60px;
        background-position: center;
        display: inline-block;
        &.cloud-sun{
            background-image: url('../images/weather/cloud-and-sun.png');
        }
    }
}


// Preset mode
.preset{
    border-bottom: 1px solid #bbb;
    padding-bottom: 30px;
    margin-bottom: 30px;
    .mode{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: #878587;
    }
    .preset-name{
        font-size: 14px;
        font-weight: 700;
    }
    .numb-device{
        font-size: 14px;
        font-weight: 700;
    }
    .room-capt{
        text-align: right;
    }
    .inf-val{
        line-height: 40px;
        margin-bottom: 0;
    }
    .ico-humidity, .ico-tmp{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: 40px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    .ico-humidity{
        background-image: url('../images/weather/humidity.png');
    }
    .ico-tmp{
        background-image: url('../images/weather/tmp.png');
    }
}