/*
 *
 * Room list
 *
*/
.dashboard-content{
    background-color: #F4F3F4;
}
.room-itm{
    margin: 30px 0;
    cursor: pointer;
    .room-inf{
        background-color: #fff;
        padding: 15px;
    }
}
.room-head{
    position: relative;
    &:before{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        z-index: 20;
        background-color: #000;
        opacity: .4;
        position: absolute;
    }
    img{
        width: 100%;
    }

    .room-ico{
        border-radius: 100%;
        width: 70px;
        height: 70px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: center;
        background-color: #fff;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 50;
        &.living-room{
            background-image: url('../images/room/livingroom-w.png');
            background-color: #8265C4;
        }
        &.bed-room{
            background-image: url('../images/room/bedroom-w.png');
            background-color: #D80027;
        }
        &.bath-room{
            background-image: url('../images/room/bathroom-w.png');
            background-color: #006DF0;
        }
        &.kitchen-room{
            background-image: url('../images/room/kitchen-w.png');
            background-color: #91DC5A;
        }
    }

    .room-name{
        position: absolute;
        z-index: 50;
        left: 30px;
        bottom: 30px;
        color: #fff;
        text-transform: capitalize;
    }

    .device-numb{
        position: absolute;
        right: 30px;
        bottom: 30px;
        color: #fff;
        text-transform: capitalize;
        font-size: 16px;
        z-index: 50;
        margin-bottom: 0;
        span{
            color: #fff;
        }
    }
}

.room-inf{
    position: relative;
    &:before{
        content: '';
        height: 70px;
        width: 2px;
        background-color: #6C6A6C;
        display: block;
        position: absolute;
        z-index: 60;
        left: 50%;
        top: 50%;
        .transform(translate(-50%, -50%));
        z-index: 60;
    }
}
.room-capt{
    position: relative;
    font-size: 18px;
    text-align: center;
    .inf-name{
        display: block;
        margin-bottom: 10px;
    }
    .inf-val{
        font-size: 24px;
        font-weight: 600;
        sup{
            font-size: 12px;
            top: -0.8em;
        }
    }
}


// Search block
.search-blk{
    position: relative;
    margin-top: 30px;
    input{
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 40px 0 10px;
        border-radius: 2px;
        border: 1px solid #bbb;
        &:active, &:focus{
            border-color: #333;
        }
    }
    button{
        position: absolute;
        border: none;
        background-color: transparent;
        right: 0;
        top: 50%;
        .transform(translateY(-50%));
        width: 40px;
        height: 40px;
        display: block;
    }
}