.device-list
    .row
        .col-md-4.device-itm(data-toggle="modal" data-target="#device-modal")
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox')
                        span.slider.round
                    p.curr-state
                        | 25
                        sup o
                        | C
                    img.device-img(src="images/devices/air-conditioner.png", alt)
                    p.device-name Air conditioner
                .device-controls
                    .control-range
                        #slider-range-min
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox')
                        span.slider.round
                    p.curr-state
                        | Locked
                    img.device-img(src="images/devices/door-lock.png", alt)
                    p.device-name Door lock
                .device-controls.no-control
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox', checked)
                        span.slider.round
                    p.curr-state
                        | Discovery HD
                    img.device-img(src="images/devices/television.png", alt)
                    p.device-name Television
                .device-controls
                    .control-range
                        #tv-range
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox')
                        span.slider.round
                    p.curr-state
                        | Liberty FM
                    img.device-img(src="images/devices/audio-sys.png", alt)
                    p.device-name Audio System
                .device-controls
                    .control-range
                        #audio-control
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox', checked)
                        span.slider.round
                    p.curr-state
                        | Opened
                    img.device-img(src="images/devices/curtain.png", alt)
                    p.device-name Curtain
                .device-controls.no-control
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox', checked)
                        span.slider.round
                    p.curr-state
                        | Closed
                    img.device-img(src="images/devices/idea.png", alt)
                    p.device-name Light
                .device-controls
                    .control-range
                        #light-control
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content
                .device-inf
                    label.switch.switch-device
                        input(type='checkbox', checked)
                        span.slider.round
                    p.curr-state
                        | Running
                    img.device-img(src="images/devices/refrigerator.png", alt)
                    p.device-name Refrigerator
                .device-controls
                    .control-range
                        #refrigerator-control
        // END: DEVICE ITM
        .col-md-4.device-itm
            .device-content.new-device
                p 
                    span.fa.fa-plus
                    | Add new device
        // END: DEVICE ITM

    include ../modal/device-detail.modal.jade
    