.room-list-content
    .search-blk
        input(type="text", placeholder="Search room")
        button
            i.icon-magnifier
    .r-list
        .room-itm
            .room-head
                img(src="uploads/room/livingroom.jpg", alt)
                .room-ico.living-room
                h3.room-name Living room
                p.device-numb
                    | Devices: 
                    span 5
            .room-inf
                .row
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Temperature
                            p.inf-val 
                                | 25
                                sup o
                                | C
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Humidity
                            p.inf-val 08 %
        // END: ROOM ITM
        .room-itm
            .room-head
                img(src="uploads/room/bedroom.jpeg", alt)
                .room-ico.bed-room
                h3.room-name Bedroom
                p.device-numb
                    | Devices: 
                    span 5
            .room-inf
                .row
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Temperature
                            p.inf-val 
                                | 25
                                sup o
                                | C
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Humidity
                            p.inf-val 08 %
        // END: ROOM ITM
        .room-itm
            .room-head
                img(src="uploads/room/bathroom.jpg", alt)
                .room-ico.bath-room
                h3.room-name Bathroom
                p.device-numb
                    | Devices: 
                    span 5
            .room-inf
                .row
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Temperature
                            p.inf-val 
                                | 25
                                sup o
                                | C
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Humidity
                            p.inf-val 08 %
        // END: ROOM ITM
        .room-itm
            .room-head
                img(src="uploads/room/kitchen.jpg", alt)
                .room-ico.kitchen-room
                h3.room-name Kitchen
                p.device-numb
                    | Devices: 
                    span 5
            .room-inf
                .row
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Temperature
                            p.inf-val 
                                | 25
                                sup o
                                | C
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Humidity
                            p.inf-val 08 %
        // END: ROOM ITM
            