.room-detail-content
    .r-dt-head
        .row
            .col-md-6.col-xs-12
                .room-ico.living-room
                h3 Living room
            .col-md-6.col-xs-12.text-right
                .room-date
                    span.text-uppercase August 24, 2017
                .room-tmp
                    span.inf-val 
                        | 25
                        sup o
                        | C
                    span.weather-ico.cloud-sun
    // END: ROOM DETAIL HEAD
    .preset
        .row
            .col-md-6.col-xs-12
                p.mode Preset mode
                p.preset-name Custom preset 01
                p.numb-device
                    | Devices: 
                    span 5
            .col-md-6.col-xs-12.text-right
                .row
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Temperature
                            p.inf-val 
                                span.ico-tmp
                                | 25
                                sup o
                                | C
                    .col-md-6.col-xs-12
                        .room-capt
                            span.inf-name Humidity
                            p.inf-val 
                                span.ico-humidity
                                | 08 %
    // END: PRESET
    include devices-list.jade