/*
 *
 * Header css
 *
*/ 

.top-header{
    height: 50px;
    background-color: #2b3643;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1010;
    .top-menu{
        float: right;
    }
}

.top-menu{
    li{
        display: inline-block;
        height: 50px;
    }
}

.menu-itm{
    color: #fff;
    display: block;
    line-height: 50px;
    padding: 0px 8px;
    min-width: 50px;
    text-align: center;
    font-size: 14px;
    position: relative;
    i{
        color: #a4aebb;
        font-size: 17px;
        line-height: 14px;
    }
    .transition(all 0.4s ease);
    .ava-ico{
        height: 30px;
        margin-right: 10px;
    }
    .user-name{
        margin-right: 10px;
    }
    &:hover{
        color: #fff;
        background-color: #3f4f62;
    }

    .noti-numb{
        position: absolute;
        top: 8px;
        right: 25px;
        text-align: center;
        background-color: #36c6d3;
        color: #fff;
        display: block;
        width: 18px;
        height: 18px;
        font-size: 12px;
        line-height: normal;
        border-radius: 100%;
    }

    &.noti{
        i{
            position: relative;
            top: 4px;
        }
    }
}

// Logo
.logo-blk{
    width: 250px;
    float: left;
}
.logo{
    display: block;
    line-height: 50px;
    color: #fff;
    &:hover, &:focus{
        color: #fff;
    }
    img{
        height: 40px;
    }
    span{
        display: inline-block;
        margin-left: 10px;
        font-weight: 700;
    }
}

.main{
    margin-top: 50px;
}