header.top-header
    .header-content.clearfix
        .logo-blk
            a.logo(href="index.html")
                img(src="images/iot-logo.png", alt)
                span SmartHome
        .top-menu
            ul
                li
                    a.menu-itm.noti(href="javascript:;")
                        i.icon-bell
                        span.noti-numb 8
                li
                    a.menu-itm(href="javascript:;")
                        img.img-circle.ava-ico(src="images/avatar/avatar1.png", alt)
                        span.user-name Adam
                        i.fa.fa-angle-down
                li
                    a.menu-itm.noti(href="javascript:;")
                        i.icon-settings