/*
 *
 * Device detail modal
 *
*/ 

.d-state {
    font-size: 14px;
    display: block;
    padding: 10px 0 0 0;
}

.blk-ttl{
    font-weight: 600;
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    height: 30px;
    margin-bottom: 15px;
    &:before{
        content: '';
        height: 30px;
        width: 3px;
        display: block;
        background-color: #444;
        position: absolute;
        top: 50%;
        .transform(translateY(-50%));
        left: 0;
        z-index: 10;
    }
    span{
        display: inline-block;
        background-color: #fff;
        position: absolute;
        text-transform: capitalize;
        top: 50%;
        .transform(translateY(-50%));
        left: 10px;
        z-index: 20;
    }
}

.tab-content{
    padding: 15px 0;
}

.info-blk{
    .tr-name{
        font-weight: 700;
    }
    p{
        .tr-name{
            display: inline-block;
            width: 160px;
        }
    }
}