.device-detail#device-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h3#myModalLabel.modal-title Air conditioner
                span.d-state 
                    | State: 
                    strong On
            .modal-body
                ul.nav.nav-tabs(role='tablist')
                    li.active(role='presentation')
                        a(href='#general-info', aria-controls='general-info', role='tab', data-toggle='tab') General info
                    li(role='presentation')
                        a(href='#performance', aria-controls='performance', role='tab', data-toggle='tab') Performance
                .tab-content
                    #general-info.tab-pane.active(role='tabpanel') 
                        p.blk-ttl
                            span 1. Device information
                        
                        .table-responsive.info-blk
                            table.table
                                tr
                                    td
                                        span.tr-name.text-capitalize Device name:
                                    td
                                        span.tr-inf 18000 BTU Window Air Conditioner, Cooling &amp; Heating
                                tr
                                    td
                                        span.tr-name.text-capitalize Device model:
                                    td
                                        span.tr-inf LW1816HR
                                tr
                                    td
                                        span.tr-name.text-capitalize Manufacturer:
                                    td
                                        span.tr-inf LG
                                tr
                                    td
                                        span.tr-name.text-capitalize FEATURES:
                                    td
                                        p
                                            span.tr-name Thermostat Control: 
                                            span.tr-inf Thermistor
                                        p
                                            span.tr-name Air Deflection: 
                                            span.tr-inf 4-Way
                                        p
                                            span.tr-name Remote Control: 
                                            span.tr-inf Yes
                                        p
                                            span.tr-name Auto Restart: 
                                            span.tr-inf Yes
                                tr
                                    td
                                        span.tr-name.text-capitalize Device color:
                                    td
                                        span.tr-inf White
                                tr
                                    td
                                        span.tr-name.text-capitalize Electrical ratings:
                                    td
                                        p
                                            span.tr-name Voltage / 60 Hz: 
                                            span.tr-inf 208/230
                                        p
                                            span.tr-name Watts (Cooling): 
                                            span.tr-inf 1,560/1,600
                                        p
                                            span.tr-name Watts (Heating): 
                                            span.tr-inf 3,100/3,670
                                        p
                                            span.tr-name Rated Amps (Cooling): 
                                            span.tr-inf 7.8/7.3
                                        p
                                            span.tr-name Rated Amps (Heating): 
                                            span.tr-inf 15.0/16.0
                                tr
                                    td
                                        span.tr-name.text-capitalize Warranty:
                                    td
                                        p
                                            span.tr-name Limited Warranty: 
                                            span.tr-inf 1 Year Parts and Labor
                                        p
                                            span.tr-name UPC: 
                                            span.tr-inf 048231379526
                    #performance.tab-pane(role='tabpanel') ...
                
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                //- button.btn.btn-primary(type='button') Save changes
